[submodule "external/perturbation-drive"]
	path = external/perturbation-drive
	url = https://github.com/MaximIgenbergs/perturbation-drive
	branch = Replication
[submodule "external/TCP"]
	path = external/TCP
	url = https://github.com/OpenDriveLab/TCP.git
[submodule "external/InterFuser"]
	path = external/InterFuser
	url = https://github.com/opendilab/InterFuser.git
